.heroDetail {
  width: 100%;
  position: relative;
}
#imgHero {
  width: 100%;
}
#imgFlower {
  position: absolute;
  top: 70px;
  left: 20px;
}

.heroDetailRight {
  position: absolute;
  top: 70%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 90px;
}

.fav {
  display: flex;
}
.fav i {
  padding: 8px;
  background-color: white;
  color: gray;
  border-radius: 50px;
  cursor: pointer;
}
.fav i:hover {
  background-color: #eaa79e;
  color: white;
}

.fav span {
  color: white;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.fav span:hover {
  background-color: #eaa79e;
}

.descAndBtn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  color: white;
  width: 100%;
}
.btnAdd {
  width: 25%;
}
.desc span {
  font-family: "Ubuntu", sans-serif;
}
.desc p {
  margin-top: 2px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.descriptionDetail {
  position: relative;
  top: 25px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}
.leftSideDescription {
  width: 20%;
}
.leftSideDescription p {
  font-family: "Ubuntu", sans-serif;
}
.rightSideDescription {
  width: 80%;
  text-align: justify;
  margin-left: 120px;
}
.rightSideDescription p {
  width: 670px;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
}
