.profile {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  padding: 5px;
  background-color: white;
  font-family: "Ubuntu", sans-serif;
}

.profile .close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.profile .close i {
  cursor: pointer;
  color: #949ea0;
}

.info-1 {
  display: flex;
  justify-content: center;
}
.image {
  display: flex;
  justify-content: center;
}

.imgAndSigh {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 60%;
}

.nameAndSigh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.nameAndSigh span {
  font-family: "Ubuntu", sans-serif;
}

.info-2 {
  display: flex;
  justify-content: center;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.basicInfo label {
  font-size: 10px;
  color: #949ea0;
}

.basicInfo span {
  font-size: 18px;
  margin-bottom: 15px;
}

.btnLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.btnLogout button {
  width: 147.5px;
  height: 50px;
  background-color: #eaa79e;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .profile {
    width: 300px;
  }
  .profile .close {
    display: none;
  }
  .info-1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .imgAndSigh {
    display: flex;
    width: 100%;
  }
  .info-2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
