.FlowersList {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top:60px;
    width: 100%;
}

@media screen and (max-width: 830px){
    .FlowersList {
        
        
    }
}